<script>

    //import { isError, useQuery } from '@sveltestack/svelte-query';
    import {onMount} from "svelte";

    let request;
    let impactsCriterias;
    let queryResult = null;
    let test = null;
    async function machin() {
        const headers = new Headers();
        headers.append('Content-Type', 'application/json');
        const body = {
            "email": "admin@test.local",
            "password": "admin123"
        };

        request = new Request(
            "http://localhost:8081/api/v1/auth/user/signin",
            { method: 'POST', headers: headers, body: JSON.stringify(body) }
        );
        let response = await fetch(request);
        test = await response.json();
        return test
    }

    onMount(() => {
        //async function truc() {
        //    queryResult = fetch(
        //        request
        //    ).then(res => res.json())
        //}

        //truc()
        test = machin()
        console.table(test)

        //impactsCriterias = Object.keys(multiimpactzone_timeserie_data).map((key) => {
        //    return {
        //        'label': key,
        //        'value': key
        //    }
        //})
    });

</script>
{#if test !== null}
    {#if test.isLoading}
        <p>Loading...</p>
    {:else}
        <p>test : {test.token}</p>
    {/if}
{/if}
    <!--{#if $queryResult.isLoading}
        <span>Loading...</span>
    {:else if $queryResult.isError}
        <span>Error: {$queryResult.isError}</span>
    {:else}
    <MultiImpactsZone let:selected_criteria {impactsCriterias} name="MultiImpactsZone with barchart">
        <div style="display: flex;">
            <BarChart title="BarChart" data={mutiimpactzone_barchart_data[selected_criteria].data} description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada odio sed metus volutpat, eget cursus magna tincidunt. Suspendisse tincidunt felis nunc, egestas finibus nibh lobortis id. Nunc lacinia neque leo, eu efficitur nisi sodales id. Etiam metus nisl, malesuada vitae elementum sit amet, mollis sed enim. Ut at nisl quis enim blandit tempor. Mauris egestas nec est ac cursus. Nulla sit amet ligula at mauris tincidunt elementum. Suspendisse turpis eros, iaculis quis ultricies id, semper eget justo. Curabitur cursus ex eget urna scelerisque, vel suscipit sapien eleifend. Sed egestas aliquam fermentum. Nullam euismod mattis tristique. Suspendisse vel nulla lorem. Morbi accumsan et erat id fringilla. Duis eu enim ornare, mattis mi at, sodales nisi. "></BarChart>
        </div>
        <div style="display: flex;">
            <NumberMetric title="{selected_criteria} - Exemple" value={"13"} unit="{mutiimpactzone_barchart_data[selected_criteria].unit}" description="Lorem ipsum"></NumberMetric>
            <NumberMetric title="{selected_criteria} - Exemple" value={"X"}  description="Lorem ipsum"></NumberMetric>
            <NumberMetric title="{selected_criteria} - Exemple" value={"Y"} description="Lorem ipsum"></NumberMetric>
        </div>
    </MultiImpactsZone>
-->